:root {
	--color-lightest: #3f3f3f;
	--color-lighter: #232323;
	--color-light: #131313;
	--color-strong: #b9b9b9;
	--color-stronger: #dfdfdf;
	--color-strongest: #f0f0f0;
	--primary-color: #00d1ff;
	--secondary-color: #ff0099;
	--tertiary-color: #ffd600;
}
