:root {
	--color-lightest: #e8e8e8;
	--color-lighter: #c7c7c7;
	--color-light: #b2b2b2;
	--color-strong: #3f3f3f;
	--color-stronger: #232323;
	--color-strongest: #131313;
	--primary-color: #0083cc;
	--secondary-color: #b5006c;
	--tertiary-color: #f29100;
}
